
<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Tasty Food</h3>
                        <p>Restaurant</p>
                        <div>
                            <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                            <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                            <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Services</h3>
                        <ol class="list-unstyled f_list">
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Fast food</a></li>
                            <li><a href="#">Reserve your spot</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Information</h3>
                        <ol class="list-unstyled f_list">
                            <li><a href="#" >Event</a></li>
                            <li><a href="#" >Contact us</a></li>
                            <li><a href="#" >Privacy policy</a></li>
                            <li><a href="#" >Terms of services</a></li>
                        </ol>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6">
                    <div class="footer__content">
                        <h3 class="footer__title">Adress</h3>
                        
                            <li>Lima - Peru</li>
                            <li>Jr Union #999</li>
                            <li>999 - 888 - 777</li>
                            <li>tastyfood@email.com</li>
                        
                    </div>
                </div> -->
            
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>

</footer>